@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --cool-slate:      #6C727F;   
    --light-gray:      #E5E7EB;   
    --off-white:       #F9FAFB;   
    --pure-white:      #FFFFFF;   
    --pure-black:      #000000;   
    --royal-blue:      #284BCE;   
    --dark-slate:      #394150;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--off-white) !important;
    color: var(--pure-black) !important;
}

main {
    padding: 4rem;
}

main img {
    display: block;
    margin-top: 20px;
}

main h1 {
    font-size: 3rem;
}

main p {
    font-size: 1.25rem;
    color: var(--cool-slate);
    max-width: 740px;
}

main .newsletter-container {
    max-width: 600px;
    background-color: var(--pure-white);
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}

main .newsletter-container input {
    border: 2px solid var(--light-gray);
    background-color: var(--off-white);
    color: var(--dark-slate);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

main .newsletter-container input::placeholder {
    color: var(--dark-slate);
}

main .newsletter-container .error,
main .newsletter-container .spam {
    font-size: 0.875rem;
}

main .newsletter-container button {
    background-color: var(--royal-blue);
    color: var(--pure-white);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}

main .newsletter-container button:hover {
    background-color: color-mix(in srgb, #284BCE 90%, white 10%);
}

main .newsletter-container .spam {
    color: var(--cool-slate);
}

footer {
    font-size: 0.875rem;
}